@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');
*{cursor: default;}
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:16px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button,a{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;-webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;-webkit-user-drag: none;-khtml-user-drag: none;-moz-user-drag: none;-o-user-drag: none;-ms-user-drag: none;user-drag: none;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
body{
	font-family: 'Grandstander', cursive;
	letter-spacing: 0.5px;
	background-color: #d2faf0;
	overflow: hidden;   
    touch-action: pan-x pan-y;
}
.container{
    margin: 0 auto;
    width: 1200px;
    max-width: 2000px;
}
.header-content{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__content{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    display: flex;
	flex-direction: column;
	align-items: center;
}
.header__logo h1{
	font-size: 38px;
	text-align: center;
	line-height: 30px;
}
.header__logo h2{
	font-size: 16px;
}
.header__content-counters{
    font-size: 24px;
    display: flex;
}
.header__content-counter{
    display: flex;
    justify-content: center;
    align-items: center;
   min-width: 160px;
    height: 40px;
    background: #EDC7D0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 11px;
}
.header__content-counter span, .header__content-counter p{
    margin-bottom: -7px;
}
.header-total-amount{
    position: relative;
    margin-right: 34px;
}
.header-total-amount-img{
    position: absolute;
    left: -10px;
}
.header__content-buttons{
    display: flex;
    align-items: center;
}
.header__content-button{
    background: #EDC7D0;
    height: 85px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 20px;
}
.header__content-button{
    margin-left: 34px;
}
.header__setting-button{  
    padding: 8px;
    background: #EDC7D0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}
.header__setting-button img{
    cursor: pointer;
}
.main-section__content{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.main-section__center-button{
    margin-top: 160px;
    font-size: 30px;
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 47px;
    background: #D9D9D9;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.center-button-wrapper{
    position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
    width: 245px;
}
.center-button-coin-img{
margin-bottom: 20px;
    width: 150px;
    height: 150px;
}
.item-count{
    margin-bottom: 24px;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.item-count-content{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 11px;
    position: relative;
    background: #EDC7D0;
    padding: 10px;
    min-width: 150px;
   
}
.item-count-content span{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    color: #000;
}
.item-name{
    font-size: 20px;
    margin-bottom: 5px;
}
.item-icon{
    position: absolute;
    left: -25px;
    top: -8px;
}
.upgrades-item{
    display: flex;
    justify-content: space-between; 
    width: 210px;
    height: 55px;
    background: #EDC7D0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 7px 13px;
    margin-bottom: 25px;
    position: relative;
}
.upgrades-item img{
    height: 40px;
    width: 40px;
}
.upgrades-item-text{
    text-align: right;
    margin-right: 0;
    font-size: 20px;
}
.main-section__upgrades h3{
    text-align: center;
    font-size: 24px;
    margin-bottom: 2px;
}
.upgrades-item-banner{
    position: absolute;
    background: rgba(217, 217, 217, 0.83);
    border-radius: 10px;
    width: 210px;
    height: 55px;
    top: 0;
    left: 0;
}
.main-section__center-button:active, .header__content-button:active,.header__setting-button:active,.upgrade-active:active /* Добавит класс при отсутвии банера */ {
    position: relative;
	top: 4px;
	-webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 1px rgba(0, 0, 0,0.4);
}
.noselect{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    /* user-drag: none; */
}
.header__content-buttons div,.main-section__center-button, .main-section__center-button img,.main-section__center-button p,.main-section__center-button span{
    cursor: pointer;
}
.upgrades-item-banner{  
    cursor: not-allowed;
}
.screen-home{
    display: flex;
    justify-content: flex-end;
    width: 80%;
/* !!!!!!!!!!!!!! */
}
.cookieshop-price{
    display: flex;
    
}
.screen-factory{
    width: 70%;
    display: grid;
    gap: 2rem 7rem;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    display: none;
}
.factory-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 190px;
    font-size: 20px;

}
.factory-item-wrapper{
    background: rgba(249, 196, 253, 0.7);
border-radius: 15px;
padding: 5px 19px;
}
.factory-item-wrapper img{
    width: 100%;
    /* object-fit: cover; */
}
.factory-item-improve-button{
    display: flex;
    width: 100%;
    background: #F9BFCC;
border-radius: 10px;
padding: 3px 20px;
    justify-content: space-between;
    margin-top: 7px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 21px;
    cursor: pointer;
}
.factory-item-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 16px;
}
.factory-item-get{
    text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
}
.screen-sell{
    display: none;
}
